# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
env/
venv/
ENV/

# Environment Variables
.env

# Database files
*.sqlite3
*.db

# Other Development Artifacts
*.log
*.pot
*.pyc
node_modules/
dist/
build/
*.egg-info/
